<div class="container">

  <form #formEntry="ngForm" (ngSubmit)="onBtnSubmitClick(formEntry)">

    <div class="header">
      <span class="big-font-size">Neuen Eintrag hinzufügen</span>
    </div>

    <div class="option-container">
      <div class="option-header">
        <h4>Gericht</h4>
      </div>
      <input type="search" class="option-component" placeholder="Suchen..." (input)="onSearchFood($event)">
      <select class="option-component" name="foodUUID" ngModel required>
        <option *ngFor="let food of foods" value="{{ food.uuid }}">{{ food.food }}</option>
      </select>
    </div>

    <div class="option-container">
      <div class="option-header">
        <h4>Tageszeit</h4>
      </div>
      <select class="option-component" (input)="onTimeInput($event)" name="timeUUID" ngModel required>
        <option *ngFor="let time of times" [value]="time.uuid">{{ time.time }}</option>
      </select>
    </div>

    <div class="option-container">
      <div class="option-header">
        <h4>Art</h4>
      </div>
      <select class="option-component" name="typeUUID" ngModel required>
        <option *ngFor="let type of types" [value]="type.uuid">{{ type.type }}</option>
      </select>
    </div>

    <div class="option-container">
      <div class="option-header">
        <h4>Datum</h4>
      </div>
      <input type="date" class="option-component"  (input)="onDateSelected($event)" name="date" ngModel required>
    </div>

    <div class="option-container">
      <div class="option-header">
        <h4>Bewertung</h4>
      </div>
      <div class="option-component flexrow">
        <span>1</span>
        <input type="range" #ratingSlider name="rating" ngModel required min="1" max="5" class="rating" [value]="newMealValues.rating" (input)="onRatingChange($event)">
        <span>5</span>
      </div>
      <div class="option-component flexrow">
        <span *ngFor="let item of [].constructor(5); index as i" [ngClass]="{'rating-unused': i+1 > newMealValues.rating}">🟡</span>
      </div>
    </div>

    <div class="flexrow">
      <input type="submit" [value]="editMode ? 'Speichern' : 'Hinzufügen'" class="action-button save big-font-size">
      <div *ngIf="editMode" style="width: 20px;"></div>
      <input type="button" [value]="'Abbrechen'" *ngIf="editMode" class="action-button cancel big-font-size" (click)="onBtnCancelClick()">
    </div>

  </form>

</div>