<nav class="container">
  <div class="left">
    <a href="/"><img src="./assets/svg/ico/fi-rr-calendar.svg" class="nav-icon active"></a>
    <a href="/"><img src="./assets/svg/ico/fi-rr-hamburger.svg" class="nav-icon active"></a>
  </div>
  <div class="center">
    <a href="/entry/add"><img src="./assets/svg/ico/fi-rr-plus.svg" class="nav-icon circle-nav"></a>
  </div>
  <div class="right">
    <a href="/"><img src="./assets/svg/ico/fi-rr-align-center.svg" class="nav-icon active"></a>
    <a href="/"><img src="./assets/svg/ico/fi-rr-align-center.svg" class="nav-icon active"></a>
  </div>
</nav>